MONGO_URI=mongodb://localhost:27017/FUELFLUX
# MONGO_URI=mongodb+srv://Himanshu12345:cMOh2IzEBigVayib@cluster0.di3aai5.mongodb.net/User_FuelFlux
# MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.5dh3zrm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=secret
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

PORT=8080

# Razorpay API Keys - PLEASE REPLACE WITH YOUR ACTUAL KEYS
RAZORPAY_KEY_ID=rzp_test_RMYbByr1kI5Z6b
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET_HERE

